<footer class="footer">
  <nav>
    <ul class="nav">
      <li><%= link_to "Deliveries",    '#' %></li>
      <li><%= link_to "Returns", '#' %></li>
      <li><%= link_to "Terms & Conditions", '#' %></li>      
      <li><%= link_to "Privacy Policy", '#' %></li>
      <li><%= link_to "Why Natural and Organics", '#' %></li>
    </ul>
  </nav>
</footer>